body {
    background: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:black;
    text-align: center;
}
h2{
    color:black;
    margin-top: 1rem;
}
p{
    color: black;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
}
.about, .skills, .projects, .contact {
    padding: 2rem;
}
p:last-of-type {
    margin-top: 2rem;
    font-style: italic;
}
.project img {
    max-width: 400px;
    width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}